body{
    background-color: lightblue;
}

.heading{
    color: #1065de; 
}

.person_name{
    color: indigo;
    margin-top: 20px;
}

.persons{
    width: 50%;
}

#falily_memer_name{
    color: indigo;
}

#accuracy{
    color: indigo;
}